body {
  font-family: sans-serif;
  padding-left: 11em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: purple;
  background-color: #7CB8C6;
}

h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted;
}

table {
  border-collapse: collapse;
  border: 2px solid #c8c8c8;
  letter-spacing: 1px;
  font-size: 0.8rem;
  width: 100%;
}

td,
th {
  border: 1px solid #bebebe;
  padding: 10px 20px;
}

th {
  background-color: #ebebeb;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #fafafa;
}

tr:nth-child(odd) td {
  background-color: #f5f5f5;
}

caption {
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}
  